BeeHappy/BeeHappy/App_Data/colmeias.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="quinta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numColmeias" type="xs:unsignedInt" />
        <xs:element name="tipoMel" type="xs:string" />
        <xs:element name="producao">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="quantidade" type="xs:unsignedInt" />
              <xs:element name="ano" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="donos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="donos" maxOccurs="unbounded" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>